
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	color: black;
}

header{
	overflow: auto;	
	border-bottom: 1px #E7E7E7 solid;	
}

header div{
	background-color: #46466E;
	/*background-image: url("images/linedpaper.png");*/
	max-width: auto;
	padding: 5px 0px;
}

header img{
	float: left;
	width: 15%;
	height: 15%;
	margin-left: 50px;
}

header nav{
	float: right;
	margin-right: 60px;
}

.botonera{
	max-width: auto;
	margin: 10px 50px;

	list-style-type: none;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.botonera li{
	list-style:none;
	padding: 10px 0px;	
}

.botonera a{
	text-decoration:none;  
	color: black;
	padding: 10px 20px;
	display: block;
	text-align: center;
	font-size: 13px;
}
.botonera a:hover{
	/*background-color: MediumSeaGreen;*/
	background-color: #46466E;
	color: white;
}

.bienvenida_img{
	width: 100%;
	height: 450px;	

    position: relative;
    background: rgba(0, 0, 0, 0.5);
	overflow: hidden;

	text-align: center;
}

.bienvenida_img::before{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
	background-image: url('images/idea.jpg');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.bienvenida_tx {
	background-color: #46466E;
	margin: 0px 0px 0px 0px;
	padding: 25px 15px 15px 15px;
	text-align: center;
	z-index: 2;
	position: relative;
}

.bienvenida_tx p{
    font-size: 20px;
	color: #DADBC0;
	/*background-color: Gainsboro;
	opacity: 0.7;*/
}

.servicios{
	padding: 50px 25px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	background-color:white;
}

.servicio{
	flex: 1;	
	border: 1px solid #C2DBC1;	
	text-align: center;
	border-radius: 0%;
	margin: 30px 30px;
	padding: 10px;	
}

.servicio img{
	padding-bottom: 5px;
}

.servicio h4{
	font-weight: 100;
}

.servicio p{
	font-size: 13px;
	padding-top: 3px;
}

.contacto{
	overflow: auto;
	background-color: #ECECEC;
	/*border-left: 30px solid #46466E;
	border-right: 30px solid #46466E;*/
}

.detalle_izq{
	/*float: left;
	background-color: #6C5070;
	width: 2%;*/
}

.formulario{	
	padding: 0 10%;

	float: left;
	text-align: center;	
	width: 70%;
}

.formulario h1{
	margin: 25px 0px 10px 0px;
}

.formulario p{
	margin: 0px 0px 10px 0px;
}

.formulario form{
	display: flex;	
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.formulario-in{
	font-family: 'Roboto', sans-serif;
	margin: 10px 30px;
	padding: 10px 10px;
	border: 2px solid white;
	resize: none;
}

.newsletter-boton{
	padding: 8px 14px;
	margin: 0px 30px 55px 30px;

	max-width: 100%;

	color: white;

	border: 1px solid rgba(255, 162, 0, 0.877);	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	background-color: #C2DBC1;
	background: linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	background: -moz-linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	background: -webkit-linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	background: -o-linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	cursor: pointer;
}

.newsletter-boton:hover{
	background: white;
	color:rgba(255, 162, 0, 0.877);
}

.datos{
	margin-top: 10em;
	float: right;
	width: 30%;
	text-align: left;
}

.datos h2{
	margin-bottom: 30px;
}

.datos div{
	margin: 10px 0px;
	overflow: auto;	
}

.d_item a{
	float: left;
}

.d_item p{
	font-size: 14px;
	padding: 5px 0px 10px 20px;
	float: left;
	text-align: left;
}

.detalle_der{
	/*float: right;
	background-color: #6C5070;
	width: 2%;*/
}

footer{
	background-color: white;
	height: 200px;
}

.foot_comienzo {
	background-color: #46466E;
	padding: 30px 0px;
}

.foot_fin {
	background-color: white;
	padding: 80px 0px;
}


/*.foot_comienzo p {
	background-color: #46466E;
	color: #DADBC0;
	padding: 30px 0px 10px 0px;
	font-size: 18px;
	text-align: center;	
}

.foot_comienzo input{
	padding: 15px 14px;
	margin: 20px 0px;
	
	color: white;
	font-weight: bold;
	border: 1px solid orange;	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	background-color: #C2DBC1;
	background: linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	background: -moz-linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	background: -webkit-linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	background: -o-linear-gradient(left, rgba(255, 162, 0, 0.877), rgba(255, 162, 0, 0.877));
	cursor: pointer;

	z-index: 2;
    position: relative;
}

.foot_comienzo input:hover{
	background: white;
	color:rgba(255, 162, 0, 0.877);
	font-weight: bold;
}*/

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #8787A3;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px 20px 10px 0px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    position: relative;
    color: #fff;
    padding: 10px 50px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}



.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: #BDBDD7; 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}



.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}